@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
main {
  display: flex;
  /* gap: 30px; */
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 2rem;
}
h1 {
  font-size: 3rem;
  color: hsl(217, 19%, 35%);
}
h1 + P {
  font-size: 2rem;
  font-weight: 400;
  color: hsl(214, 17%, 51%);
}
.hero-img,
.profilepic,
.sharer,
.icons img,
.js-divv .sharerr {
  display: block;
  height: auto;
  width: 100%;
}
.profilepic {
  border-radius: 50%;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  /* width: 100%; */
}
.profile-info {
  display: flex;
  gap: 10px;
}
.name-date {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.username {
  font-size: 1.5rem;
  font-weight: 800;
  color: hsl(217, 19%, 35%);
}
.day {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}
/* .sharer {
  border-radius: 50%;
  padding: 1.5rem;
  color: aquamarine;
  background-color: hsl(212, 23%, 90%);
} */
.share-button {
  padding: 2rem;
  position: relative;
  border-radius: 50%;
  background-color: hsl(214, 17%, 91%);
  border: none;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 80%;
  top: 70%;
  background-color: hsl(217, 19%, 35%);
  border-radius: 5px;
  padding: 1.5rem;
}
.icons p {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}
.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 1024px) {
  .hero-img {
    width: 100%;
  }
  .profilepic,
  /* .sharer, */
  .icons {
    width: 15%;
  }
  .sharer {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 3rem;
    width: 26ch;
  }
  h1 + P {
    font-size: 2rem;
    font-weight: 400;
    width: 44ch;
  }
  .icons {
    position: absolute;
    left: 75%;
    top: 45%;
  }
  .icons img {
    width: 10%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .hero-img {
    width: 100%;
  }
  .profilepic,
  /* .sharer, */
  .icons {
    width: 15%;
  }
  .sharer {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 2rem;
    width: 26ch;
  }
  h1 + P {
    font-size: 1.2rem;
    font-weight: 400;
    width: 44ch;
  }
  .icons {
    position: absolute;
    left: 80%;
    top: 65%;
  }
  .icons img {
    width: 10%;
  }
}
@media (max-width: 767px) {
  main {
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid black;
  }
  .container {
    margin-top: 50px;
    width: 100%;
    padding: 0rem;
    align-items: center;
    justify-content: center;
  }
  .hero-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 20px;
  }
  .profile {
    padding: 1rem;
    width: 100%;
    /* background-color: hsl(212, 23%, 39%); */
  }
  .profilepic {
    width: 15%;
  }
  /* .sharer {
    width: 100%;
    height: 100%;
  } */
  h1 {
    font-size: 1.8rem;
    width: 24ch;
  }
  h1 + P {
    font-size: 1.5rem;
    font-weight: 400;
    width: 31.7ch;
  }
  .username {
    font-size: 1.2rem;
  }
  .day {
    font-size: 1.2rem;
  }
  .share-button {
    padding: 1rem;
  }
  .attribution {
    margin-top: 10px;
  }
  .js-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 2rem;
    margin-top: 50px;
    background-color: hsl(212, 23%, 39%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .js-div p {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: hsl(214, 17%, 71%);
    font-weight: 600;
  }
  .nest-div {
    padding: 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 1rem;
  }
  .button {
    padding: 2rem;
    border-radius: 50%;
    background-color: hsl(214, 17%, 21%);
    border: none;
  }
  .js-divv .sharerr {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 50%;
    background-color: white;
  }
  .mobsoc {
    width: 100%;
  }
}
